.multiMedia {
    margin: 25px 0;
}

.title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #216189;
}

.multi_videos{
    display: flex;
    align-items: center;
    gap: 96px;
    row-gap: 37px;
    flex-wrap: wrap;
    margin-top: 45px;
}
.multi_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    position: absolute;
    bottom: 36px;
    /*max-width: 497px;*/
    left: 50%;
    transform: translateX(-50%);
    transition: .3s ease-in-out;
}


/*.multi_title:hover {*/
/*    transform: translateY(-15px);*/
/*    cursor: pointer;*/
/*    color: #216189;*/
/*}*/

/*.multi_title::after{*/
/*    content: "";*/
/*    width: 0;*/
/*    position: absolute;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    height: 6px;*/
/*    background: #216189;*/
/*    transition: width .5s ease-out !important;*/
/*}*/
/*.multi_title:hover::after {*/
/*    width: 100%;*/
/*}*/

.multi_video {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    row-gap: 37px;
    column-gap: 96px;
}

.multi_video li {
    position: relative;
}

.video::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    background-color: #216189;
    transition: .3s ease-in-out;
}

.multi_video li:hover .video::after {
    width: 100%;
}

.multi_video li:hover .multi_title {
    bottom: 55px;
}



.load {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 692px;
}
.load span {
    width: 100px !important;
    height: 100px !important;
}
